body {
    height: 100vh;
    position: relative;
    background-image: url(../img/star-night-person-man.png);
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-position: bottom;
    background-size: cover;
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    width: 40%;
    padding: 40px;
    background-color: #008fae;
    background-image: url(../img/star-night-person-man.png);
    color: #fff;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30px;
    top: 30px;
    left: 0px;
}

.main-title {
    width:100%;
    font-size: 40px;
    font-weight: normal;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    left: 55px;
    right: 40px;
}

.bottom-links > .link {
    color: #fff;
}

.right-column {
    width: 60%;
    float: right;
    padding: 60px;
    background-color: #fff;
    position: relative;
}

.right-column .close {
    width: 60px;
    height: 60px;
    font-size: 25px;
    text-align: center;
    line-height: 54px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #777;
    font-weight: lighter;
}
